body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

#container {
    display: flex;
}

#tabs {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.tab-button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 5px 0;
    cursor: pointer;
}

.tab-button:hover {
    background-color: #0056b3;
}

.tab-content {
    display: none;
    background-color: white;
    padding: 20px;
    border: 1px solid #ddd;
    width: 300px;
    text-align: center;
}

.tab-content.active {
    display: block;
}

canvas {
    margin: 10px 0;
}

#betOn6Feedback, #hornBetFeedback {
    margin: 10px 0;
    font-size: 16px;
}

#betOn6CorrectPayout, #hornBetCorrectPayout {
    margin: 10px 0;
    font-size: 14px;
    color: red;
}

label {
    display: block;
    margin: 10px 0 5px;
}

input[type="text"] {
    padding: 5px;
    width: 100%;
    box-sizing: border-box;
}

button {
    margin: 10px 0;
    padding: 10px;
    background-color: #333333;
    color: #ffffff;
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

button:hover {
    background-color: #555555;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

.correct {
    animation: correctFeedback 1s ease;
}

@keyframes correctFeedback {
    0% { background-color: #1e1e1e; }
    50% { background-color: #32CD32; }
    100% { background-color: #1e1e1e; }
}

.incorrect {
    animation: incorrectFeedback 1s ease;
}

@keyframes incorrectFeedback {
    0% { background-color: #1e1e1e; }
    50% { background-color: #ff0000; }
    100% { background-color: #1e1e1e; }
}

#numpad {
    display: flex;
    flex-direction: column;
    background-color: #333333;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    margin-left: 20px;
}

.numpad-row {
    display: flex;
}

.numpad-row button {
    width: 60px;
    height: 60px;
    margin: 5px;
    font-size: 20px;
}

.numpad-pad button:hover {
    background-color: #555555;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
}
